config/nvim/plugged/
config/go-cdx/bookmark
config/go-cdx/history
config/zsh/.zinit/
config/zsh/.zcompdump
config/zsh/.zsh_history
config/zsh/.iterm2/
config/zsh/.iterm2_shell_integration.zsh
config/zsh/.zsh_sessions/
config/nvim/.netrwhist
config/zsh/pure/
config/karabiner/automatic_backups/
config/zsh/.zcompcache/
config/tmux/plugins/
config/lazygit/state.yml
config/lazygit/**/*.patch
